.box{
    width: 100px;
    border: 1px solid black;
    margin: 1em;
    padding: 1em;
}

.cell{
    width: 100%;
    flex: 0 0 auto;
}

.grid-x{
    display: flex;
    float: left;
}

.Ascent{
    width: 1000px;
    top: 110px;
    bottom: 70px;
    left: 200px;
    position: relative;
    border: 1px solid black;
    padding: 2px;
}

.Create{
    width: 1000px;
    top: 110px;
    bottom: 70px;
    left: 200px;
    position: relative;
    border: 1px solid black;
    padding: 2px;
}

.Dropdown{
    width: 100px;
    height: 40px;
    border: 1px solid black;
    padding: 2px;
    background-color: lightgrey;
}

.Footer{
    position: fixed;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    border: 1px solid black;
    margin: 2px;
    padding: 1em;
    text-align: center;
}

.Header{
    position: fixed;
    height: 40px;
    width: 100%;
    border: 1px solid black;
    margin: 2px;
    padding: 1em;
    background-color: rgb(43, 43, 43);
    color: yellow;
}

.Sidebar{
    width: 160px; /* Set the width of the sidebar */
    position: fixed;
    z-index: 1; /* Stay on top */
    top: 110px;
    bottom: 70px;
    left: 0;
    border: 1px solid black;
    margin: 2px;
    padding: 1em;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

.ascents{
    border: 1px solid black;
    border-collapse: collapse;
}

.row{
    border: 1px solid black;
    border-collapse: collapse;
}

.column{
    border: 1px solid black;
    border-collapse: collapse;
}